@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    background-color: #88d4f1; /* For browsers that do not support gradients */
    background-image: linear-gradient(#87CEEB, #bee9fa);
    /* background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(149,239,106,0) 0%, rgba(240,255,15,1) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}


.card-effect {
    box-shadow: rgba(242, 224, 226, 0.24) 0px 3px 8px;
}

.profile-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shimmer-effect {
    opacity: .7;
    animation: shimmer-ui 2s linear infinite alternate;
}

@keyframes shimmer-ui {
    0% {
        background-color: hsl(200, 20%, 85%);
      }
      100% {
        background-color: hsl(200, 20%, 95%);
      }
}
