@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.card-effect {
    box-shadow: rgb(255,158,170, 0.24) 0px 3px 8px;
}

.profile-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
